body{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
height: 3000px;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  border-bottom: 1px solid #eee;
  padding: 16px 32px;
  
  display: flex;
  
  align-items: center;
  
  text-align: center;

}
